.tiny_image {
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    // Button -> Don't select text
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


@media screen and (max-width: 1000px) {
    .tiny_image {
        width: 30px;
        height: 30px;
    }
}