@import "../../../styles/constants.scss";

#NavBar {
    display: flex;
    background: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    padding-left: 5px;
    z-index: 5;
}

#NavBarTitleContainer {
    display: flex;
    align-items: center;
    font-size: var(--font-size-xlarge);
    flex: 1;

    .NavBarTitle {
        color: var(--color-midnight-green);
        font-weight: 700 !important;
    }
}

#NavBarEnd {
    margin-left: auto;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    overflow: hidden;

    >div {
        margin-left: 20px;
        margin-right: 10px;
    }
}

#NavBarSearch {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: 0;
    padding: 3px;

    input {
        padding: 2px;
        font-size: var(--font-size-small);
        width: 100%;
        border-radius: 4px !important;
        border: 2px solid var(--color-midnight-green);
        color: var(--color-midnight-green);
    }
}


@media screen and (max-width: 1000px) {
    #NavBarTitleContainer {
        .NavBarTitle {
            font-size: var(--font-size-small);
        }
    }

    #NavBarEnd {
        margin-right: 5px;

        >div {
            margin-left: 0;
            margin-right: 5px;
        }
    }
}