:root {
    --color-white: #ffffff;
    --color-almost-white: #efefef;
    --color-main: #f8eabe;
    --color-main-darker: #e1ce98;
    --color-almost-black: #021b1e;
    --color-charcoal: #545454;
    --color-midnight-green: #074f57;
    --color-cerulean: #077187;
    --color-imperial-red: #e54b4b;
    --color-old-rose: #c78283;
    --color-microsoft-blue: #1875c6;
    --font-size-xxsmall: 10px;
    --font-size-xsmall: 16px;
    --font-size-small: 18px;
    --font-size-medium: 20px;
    --font-size-large: 22px;
    --font-size-xlarge: 24px;
    --font-size-xxlarge: 28px;
    --font-size-xxxlarge: 32px;
    --font-size-xxxxlarge: 36px;
    --small-screen-height: 600px;
}