@import "../../../styles/constants.scss";

.CustomButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    // Button -> Don't select text
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    p {
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}

.CustomButton.InvertedButton {
    border: 2px dotted;
}

.CustomButton:hover {
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.3);

    p {
        filter: brightness(2);
    }
}

.CustomButton:active {
    box-shadow: inset 0 0 10px 4px rgba(255, 255, 255, 0.1);
    filter: brightness(0.9);
}

.RoundButton {
    border-radius: 50px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }
}