@import "../../styles/constants.scss";

#RecipePage {
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-top: 0;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    ::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}

.RecipeContainer {
    display: flex;
    flex-direction: column;

    .RecipeImageContainer {
        width: 100%;
        background: rgba(7, 79, 87, 0.2);
        display: flex;
        justify-content: center;
        height: 100%;
        max-height: 60vh;
        min-height: 100px;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .Recipe {
        padding-left: 2%;
        padding-right: 2%;
        background: var(--color-white);

        li {
            font-size: var(--font-size-medium);
            font-weight: 400;

            .RecipeInput {
                width: 80%;
            }
        }

        .RecipeRow {
            border-bottom: 2px solid var(--color-cerulean);
            color: var(--color-almost-black);
            padding-bottom: 15px;
            padding-top: 15px;
        }

        .RecipeRow.BottomRow {
            border-bottom: none;
        }

        .PortionsContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .PortionsLabel {
                color: var(--color-midnight-green);
            }

            .Portions {
                color: var(--color-midnight-green);
                border: 2px solid var(--color-midnight-green);
                width: 60px;
                text-align: center;
                margin-left: auto;
                margin-right: 1%;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px;
            }

            .PortionsButtonsContainer {
                margin-right: 2%;

                .PortionsButtonContainer {
                    border-radius: 6px;
                    margin-top: 2px;
                    margin-bottom: 2px;
                    overflow: hidden;

                    p {
                        padding: 3px;
                        padding-left: 10px;
                        padding-right: 10px;
                        text-align: center;
                    }
                }
            }
        }


        #RecipeTitleContainer {
            color: var(--color-midnight-green);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .RecipeTitle {
                h3 {
                    flex: 1;
                    margin-bottom: 0;
                    text-align: center;
                }
            }
        }

        .RecipeSubTitle {
            color: var(--color-midnight-green);
        }

        #RecipeLinkContainer {
            .RecipeLinkRow {
                display: grid;
                // background: orange;
                max-width: 95%;

                .RecipeLink {
                    padding-top: 10px;
                    word-break: break-all;
                    grid-row: 1;
                    grid-column: 1;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    color: var(--color-cerulean);
                }

                img {
                    display: flex;
                    align-items: center;
                    grid-row: 1;
                    grid-column: 1;
                    width: 50px;
                    height: 50px;
                    opacity: 0.5;
                    margin-top: -40px;
                    margin-left: auto;
                    filter: invert(32%) sepia(98%) saturate(927%) hue-rotate(181deg) brightness(93%) contrast(92%);
                }
            }
        }

        #RecipeDescriptionContainer {
            display: flex;
            flex-direction: column;

            .RecipeDescription {
                margin: 0;
                font-weight: 500;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        #RecipeInfoContainer {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding-left: 10px;
            padding-right: 10px;

            .RecipeInfo {
                flex: 1;
                display: flex;

                p {
                    font-size: var(--font-size-xsmall);
                    font-weight: 500;
                    padding-right: 6px;
                    color: var(--color-almost-black);
                }
            }
        }
    }

    .RecipeInputContainer {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .RecipeInputTitle {
            margin: 0;
            flex: 1;
            color: var(--color-midnight-green);
        }

        .RecipeInput {
            margin: 0;
            font-size: var(--font-size-xlarge);
            font-weight: 600;
            color: var(--color-midnight-green);
            padding: 5px;
            margin-right: 20px;
            min-width: 35px;
        }

        .RecipeInputButtonContainer {
            width: 80px;
        }

        .CustomButton {
            height: 20px;
            width: 20px;
        }

        .RecipeIngredientInputRow {
            margin: 0;
            flex: 3;
            font-size: var(--font-size-xlarge);
            font-weight: 600;
            color: var(--color-midnight-green);
            padding: 5px;
            margin-right: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .RecipeIngredientInput {
                display: flex;
                width: 100%;
                background: var(--color-almost-white);
                padding: 5px;

                .RecipeIngredientInputBox {
                    border: 1px solid var(--color-midnight-green);
                    border-radius: 2px;
                    padding: 4px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    flex: 2;

                    .RecipeIngredientInputLabel {
                        margin: 0;
                        min-width: 15px;
                        font-size: var(--font-size-small);
                    }

                    .RecipeInput {
                        flex: 1;
                        border-radius: 2px;
                        width: 50%;
                        margin-left: 5px;
                        padding: 2px;
                        margin-right: 0;
                        font-size: var(--font-size-xsmall);
                    }
                }

                .RecipeInputButtonContainer {
                    width: 40px;
                    margin-left: 2px;
                    margin-right: 2px;
                }

                .RecipeIngredientSmallerInputBox {
                    @extend .RecipeIngredientInputBox;
                    flex: 1;
                }
            }
        }
    }

    .RecipeIngredients {
        display: flex;

        ul {
            flex: 5;
        }
    }

    .RecipeEditButtonContainer {
        width: 80px;

        .CustomButton {
            height: 20px;
            width: 20px;
        }
    }

    .addMoreButtonContainer {
        width: 90px;
        margin-left: 2px;
    }
}



.MealTypeText {
    margin: 0;
    margin-right: 5px;
    background: var(--color-main);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-midnight-green);
    border: 2px dotted var(--color-midnight-green);
}


.RecipeButtonsContainer {
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    min-height: 55px;

    .OneHalf {
        flex: 1;
    }
}

.RecipeButtonsContainer.DisabledButtonsContainer {
    filter: brightness(2);

    .CustomButton:hover {
        cursor: not-allowed;
        box-shadow: none;
    }

    .CustomButton:active {
        filter: none;
    }
}

.TagsContainer {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .RecipeContainer {
        .RecipeImageContainer {
            max-height: 250px;
        }

        .Recipe {
            #RecipeTitleContainer {
                .RecipeTitle {
                    h3 {
                        margin-top: 5px;
                    }
                }
            }

            .RecipeRow {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .RecipeSubTitle {
                margin-top: 5px;
                margin-bottom: 10px;
            }

            #RecipeInfoContainer {
                flex-direction: column;
                align-items: start;
                margin-top: 15px;
                margin-bottom: 15px;

                .RecipeInfo {
                    p {
                        margin-top: 2px;
                        margin-bottom: 2px;
                    }
                }
            }
        }

    }
}