@import "../../../styles/constants.scss";

.RecipeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.SideButtonsContainer {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 3;

    >div {
        margin-top: 10px;
    }

    .NewRecipeButtonContainer {
        height: 65px;
        width: 65px;
    }

    .SvgButton {
        height: 65px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);

        .SvgIcon {
            width: 40px;
            height: 40px;
        }

    }

    .PlusButtonContainer {
        filter: brightness(1.01);
        background: var(--color-midnight-green);
    }

    .ExternalButtonContainer {
        background: var(--color-imperial-red);

        .SvgIcon {
            width: 32px;
            height: 32px;
            padding-left: 2px;
        }
    }

    .CalendarButtonContainer {
        background: var(--color-imperial-red);
    }

    .ShoppingListButtonContainer {
        background: var(--color-main-darker);
    }
}

.SvgButton:hover {
    box-shadow: inset 0 0 5px 4px rgba(0, 0, 0, 0.2);

    img {
        filter: brightness(2);

    }
}

.DisabledButton {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 3;
    filter: blur(1px);

    .CustomButton {
        pointer-events: none;
    }
}

.RecipesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoResults {
    flex: 1;
    width: 90%;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--color-midnight-green);
    justify-content: center;
    border: 1px dotted var(--color-midnight-green);
    border-radius: 10px;
}

.ResultCount {
    margin-top: 0;
    margin-bottom: 0;
}