@import "../../../styles/constants.scss";

.RecipeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.NewRecipeButtonContainer {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 3;
}

.DisabledButton {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 3;
    filter: blur(1px);

    .CustomButton {
        pointer-events: none;
    }
}

.RecipesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoResults {
    flex: 1;
    width: 90%;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--color-midnight-green);
    justify-content: center;
    border: 1px dotted var(--color-midnight-green);
    border-radius: 10px;
}