@import "../../../styles/constants.scss";

#FiltersBar {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 10px;

    >div {
        margin-left: 3%;
        margin-right: 3%;
    }

    .IconExtraPadding {
        img {
            width: 39px;
            height: 28px;
        }
    }

    .FiltersBarButtons {
        display: flex;
        justify-content: space-around;
    }
}

.FilterIconContainer {
    display: grid;
    grid-auto-columns: auto 80% auto;
    align-items: center;
    margin-bottom: 10px;
    overflow: visible;
    justify-content: center;
    // Button -> Don't select text
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    .FilterIcon {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        justify-content: center;
        z-index: 2;
        height: 40px;
        align-items: center;
    }

    img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        filter: brightness(0) saturate(100%) invert(20%) sepia(30%) saturate(3790%) hue-rotate(159deg) brightness(89%) contrast(94%);
    }

    img:active {
        filter: invert(0.5);
    }

    .FilterDotContainer {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        justify-content: center;
    }

    .FilterDot {
        color: var(--color-imperial-red);
        font-size: var(--font-size-xxxxlarge);
        font-weight: 900;
        position: relative;
        margin: 0;
        height: 0;
        margin-top: -150%;
        margin-right: -150%;
    }
}

.HidableFilters {
    background: var(--color-white);
    left: 0;
    z-index: 3;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 25px;
    width: 80%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid var(--color-midnight-green);
    border-radius: 5px;


    .HidableFiltersRow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;

        h6 {
            color: var(--color-midnight-green);
            font-size: 17px;
            margin: 0;
            padding: 0;
        }

        .PrivateSwitchBase-input {
            margin: 0;
            padding: 0;
            background: orange !important;
        }
    }
}

.FilterIconContainerDisabled {
    opacity: 0.5;
    pointer-events: none;
}