.SearchItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;

    .SearchItemRow {
        display: flex;
        color: var(--color-midnight-green);
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
        border-radius: 3px;
        cursor: pointer;

        // Button -> Don't select text
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */

        .SearchItemTitle {
            margin: 0;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }

        .SearchItemCollapse {
            margin-left: auto;
            display: flex;
            justify-content: center;
            padding: 8px;
            border-radius: 20px;
            align-items: center;
        }
    }

    .SearchItemRow:hover {
        box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
    }

    .SearchItemRow:active {
        filter: brightness(1.4);
    }

    .SearchItemInput {
        padding-left: calc(2% + 8px);
        padding-right: calc(2% + 8px);
    }

    .SearchItemDot {
        margin: 0;
        padding-left: 2px;
        color: var(--color-old-rose);
        font-size: var(--font-size-xlarge);
        font-weight: 700;
    }
}