@import "../../../styles/constants.scss";

.SearchItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;

    .SearchItemRow {
        display: flex;
        color: var(--color-midnight-green);
        justify-content: space-between;

        // Button -> Don't select text
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */

        .SearchItemTitle {
            margin: 0;
            display: flex;
            align-items: center;
            padding-left: 8px;
            color: var(--color-midnight-green);
            font-size: var(--font-size-xlarge);
            margin-bottom: 10px;
        }
    }

    .SearchItemInput {
        padding-left: calc(2% + 8px);
        padding-right: calc(2% + 8px);
    }

    .SearchItemDot {
        margin: 0;
        padding-left: 2px;
        color: var(--color-old-rose);
        font-size: var(--font-size-xlarge);
        font-weight: 700;
    }
}