@import "../../../styles/constants.scss";

#PageTemplate {
    display: flex;
    flex: 1;
    position: absolute;
    height: 100%;
    width: 100%;

    #PageContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        #MainContent {
            padding-top: 15px;
            height: 100%;
            width: 100%;
            background: var(--color-almost-white);
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }
}

.BackButtonContainer {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 0px;
}

#LoadingPopUp {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;

    .LoadIcon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background:
            radial-gradient(farthest-side, #074f57 94%, #0000) top/12px 12px no-repeat,
            conic-gradient(#0000 50%, #074f57);
        mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
        animation: l13 0.9s infinite linear;
        margin-top: 10%;

    }

    @keyframes l13 {
        100% {
            transform: rotate(1turn)
        }
    }
}